$colors: () !default;
$--colors: (
  "primary": (
    "base": #165dff,
  ),
  "success": (
    "base": #00B42A,
  ),
  "warning": (
    "base": #FF7D01,
  ),
  "danger": (
    "base": #F53F3F,
  ),
  "error": (
    "base": #F53F3F, 
  ),
  "info": (
    "base": #1d2129,
  )
);
@use "element-plus/theme-chalk/src/mixins/function.scss" as ele;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $input: (
    // "bg-color": #f2f3f5,
    // "border-color": transparent,
    "hover-border-color": transparent
  ),
  $select: (
    'border-color-hover': transparent
  ),
  $border-color-hover: transparent,
  $fill-color: (
    'blank': #f2f3f5,
  ),
  $border-color: (
    '': transparent
  ),
  $menu: (
    'text-color': '#666',
    'hover-bg-color': '#f2f3f5',
    'active-color': '#165dff',
  ),
  $font-size:   (
    'extra-large': 18px,
    'large': 16px,
    'medium': 14px,
    'base': 12px,
    'small': 12px,
    'extra-small': 12px,
  ),
  $switch: (
    "off-color": #dcdfe6,
  ),
  $dialog: (
    'padding-primary': 12px 18px,
  ),
  $radio-button: (
    'checked-bg-color': ele.getCssVar('color-white'),
    'checked-text-color': ele.getCssVar('color-primary'),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

@use "./dark.scss";

// import 'element-plus/theme-chalk/src/dark/css-vars.scss'

@use 'element-plus/theme-chalk/src/dark/css-vars.scss';


@mixin reset-is-focus {
  background-color: #fff!important;
}

// common
$hover-bg-color:  #e5e6eb;
$button-min-width: 80px;
html {
  background-color: white;
  --el-color-border-2: #E5E6EB;
  .el-popper__arrow {
    display: none;
  }
  .el-input__wrapper,.el-textarea__inner,.el-select__wrapper {
    &:hover {
      background-color: $hover-bg-color;
    }
  }
  .el-button {
    min-width: $button-min-width;
  }
  .is-circle {
    min-width: auto;
  }
}
.el-input__wrapper.is-focus {
  @include reset-is-focus()
}
.el-textarea__inner:focus {
  @include reset-is-focus()
}
.el-select__wrapper.is-focused{
  background-color: #e5e6eb!important;
}

.el-radio-button__inner {
  &:hover {
    background-color: var(--el-color-border-2);
  }
}

.el-tag.el-tag--info {
  --el-tag-bg-color: #ffffff;
  --el-tag-border-color: #e5e6eb;
  --el-tag-hover-color: #F2F3F5;
}

.el-tag .el-tag__close:hover {
  color: currentColor;
  background-color: transparent;
}


